[flake8]
max-line-length = 120
# exclude file for my projects (Django, Flask, PY modules)
exclude = migrations,manage.py,settings.py,.git,__pycache__,P7_grond_gaetan,install.py,requirements.txt,venv
# ignoring some PEP8 conventions, sorry GUIDO !
ignore = E266, W503