{% extends "base.html" %} {% load static i18n %}
{% block title %}
User: {{object.username }}{% endblock %} {% block content %}
<div class="container mt-5 mb-5 pt-5 pb-5">
  <div class="row">
    <div class="col-sm-12">


      </h2>
      Vos favoris
      <hr>

        <h2>Favoris:</h2>
        {% for favorites in favorite %}
      <ul>
        <li> {{ favorites.product }}  -> {{ favorites.substitute }} -  <a href="{% url 'products:detail' favorites.product.pk %} ">Fiche produit</a></li>
      </ul>


        {% endfor %}

    </div>
  </div>

</div>
{% endblock content %}
