{% load static i18n %}
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% block title %}Pur Beurre{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Pur Beurre est l'initiative de deux amoureux de la gastronomie française, Colette Tatou et Rémy, que vous avez déjà certainement rencontrés dans notre excellent restaurant Ratatouille."
    />
    <meta name="author" content="Gaëtan GR" />
    <!-- Favicon-->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="icon" href="{% static 'assets/img/favicon.png' %}" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />


  </head>
  <body id="page-top" class="d-flex flex-column min-vh-100">

    <!-- Navigation  -->
    {% include "pages/nav.html" %}

      <!-- Intro with header and nav bar  -->
    {% include "pages/intro.html" %}
  {% block content %}
        <p>{% trans "Fat yes, but quality fat !" %}</p>
        <p>{% trans "Find a substitute for the products you eat everyday" %}</p>
      {% endblock content %}
    <!-- About, information for the project etc..  -->
    {% include "pages/about.html" %}

       <!-- About, information for the project etc..  -->
    {% include "pages/contact.html" %}

    <!-- Footer and legals informations  -->
    <footer class="py-3 footer" style="background-color: #e8a75d">
      <div class="container">
        <div class="row">

          <div class="text-center col-6">
            <a href="/legal/" class="text-dark">Mentions légales</a>
          </div>
          <div class="text-center col-6">Contact</div>
        </div>
      </div>
      <!-- Enable user to change language:  https://docs.djangoproject.com/en/3.1/topics/i18n/translation/#the-set-language-redirect-view -->
<form action="{% url 'set_language' %}" method="post" class="form-group ml-2">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit"  class="btn btn-primary btn-sm" value="Go">
  <p class="text-muted small">{% trans "Language preference will be reset if you clear your cookies" %}</p>
  </form>

    </footer>

 <!-- TODO : Fix autocomplete -->
<script>
$( "#autocomplete" ).autocomplete({
  source: "users/all/"
});
</script>


<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
  </body>
</html>
