{% extends "base.html" %}
{% block content %}
<h1>Vous pouvez substituer ce produit par :</h1>
{% for product in product_list %}
<div class="card-group">
<div class="card text-center mb-3 col--6">
  {% if product.nutriscore_grade == "a" %}
  <div class="card-header bg-success">
    {% elif product.nutriscore_grade == "b" %}
    <div class="card-header bg-success">
      {% elif product.nutriscore_grade == "c" %}
      <div class="card-header bg-warning">
        {% elif product.nutriscore_grade == "d" %}
        <div class="card-header bg-danger">
          {% elif product.nutriscore_grade == "e" %}
          <div class="card-header bg-danger">
            {% endif %}
            <strong>Nutriscore:</strong> {{ product.nutriscore_grade|upper }}
          </div>
          <div class="card-body bg-grey">
            <h5 class="card-title">{{ product.name }}</h5>
            <img
              height="180px"
              src="{{ product.image_url }}"
              class="pb-3 mb-3 mt-4"
              alt=""
            /><br />
            <a href="{% url 'products:detail' product.id %}" class="btn btn-primary"
              >Ficher produit</a>     <a href="{% url 'products:save' product.id %}" class="btn btn-primary"
              >Sauvegarder</a
            >
            <br />

          </div>
        </div>
</div>
        {% endfor %}
               <div class="pagination">
          <span class="step-links">
            {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Première</a>
            <a href="?page={{ page_obj.previous_page_number }}">Précedent</a>
            {% endif %}

            <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Dernière page</a>
            <a href="?page={{ page_obj.paginator.num_pages }}"
              >Page précedente &raquo;</a
            >
            {% endif %}
          </span>
        </div>


        {% endblock content %}
      </div>
    </div>
  </div>
</div>
