
                     <div class="row">

                          {% for product in products %}
                        <div class=" p-2 m-2 bg-white">

                            <div class="row">
                                <div class="col">
                                   {{ product.nutriscore_grade|upper }}
                                </div>
                                <div class="float-right pr-3">

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
            </div>
        </div>
