{% load static i18n %}


<header class="masthead presentation">
  <div class="container">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger">
                    {{message}}
                    <a href="#" data-dismiss="alert" class="close">×</a>
                </div>
            {% else %}
                <div class="alert alert-{{ message.tags }}">
                    {{message}}
                    <a href="#" data-dismiss="alert" class="close">×</a>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
  </div>
  <div class="container h-100 text-white">
    <div
      class="row h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-10 align-self-end">

        <h1 class="text-uppercase font-weight-bold">
          {% trans "Fat yes, but quality fat !" %}
        </h1>
        <hr class="divider my-4" />
        <h5>
          {% trans "Find a substitute for the products you eat everyday" %}
        </h5>
      </div>


      <div class="col-8">
        <div class="search-div">
          <form action="{% url 'products:prod' %}" method="get">
            <div class="input-group input-group-lg mb-3">
              <input
                id="autocomplete"
                class="search-input form-control secondary-search"
                type="text"
                placeholder="Ex: Nutella"
                aria-label="Search"
                name="product_search"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-primary btn-xl js-scroll-trigger search-btn"
                  type="submit"
                >
                  Substituerr
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>
